<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5 mb-5">
    <h2>Правила игры в Морской бой</h2>
    <p>Морской бой — классическая военная игра, в которой два игрока по очереди стреляют по клеткам игрового поля, пытаясь потопить корабли противника.</p>

    <h3>Цель игры</h3>
    <p>Цель игры — потопить все корабли противника. Победителем становится тот, кто первым потопит все корабли врага.</p>

    <h3>Игровое поле</h3>
    <p>Поле для игры состоит из двух квадратных сеток размером 10x10 клеток. На одном поле размещаются корабли одного игрока, а другое поле — для выстрелов.</p>

    <h3>Размещение кораблей</h3>
    <ul>
        <li>Каждый игрок имеет 5 кораблей: 1 линкор (4 клетки), 2 крейсера (3 клетки), 3 эсминца (2 клетки) и 4 подлодки (1 клетка).</li>
        <li>Корабли размещаются на игровом поле горизонтально или вертикально, не выходя за пределы поля и не соприкасаются друг с другом.</li>
        <li>Каждый корабль занимает указанное количество клеток и не может быть размещён на уже занятой клетке.</li>
    </ul>

    <h3>Ход игры</h3>
    <p>Игроки поочередно делают выстрелы по полю противника, пытаясь попасть в клетки, занятые его кораблями.</p>
    <ul>
        <li>При попадании в корабль игрок получает право сделать ещё один выстрел.</li>
        <li>Если выстрел не попал в корабль, ход переходит к противнику.</li>
    </ul>

    <h3>Статус корабля</h3>
    <p>Каждый корабль считается потопленным, если все его клетки были попаданы. В этом случае на поле будет отображаться сообщение о потопленном корабле.</p>

    <h3>Завершение игры</h3>
    <p>Игра заканчивается, когда один из игроков потопит все корабли противника. Этот игрок объявляется победителем.</p>

    <h3>Рекомендации</h3>
    <ul>
        <li>Будьте внимательны при размещении кораблей, так как они не могут выходить за пределы поля.</li>
        <li>Продумывайте стратегию выстрелов, чтобы быстрее найти и потопить корабли противника.</li>
    </ul>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>